.navbar-brand {
  color: #056cb1 !important;
  font-size: 2rem !important;
  font-weight: bold;
}

.navbar-nav .nav-item {
  padding: 0 0.7rem;
}

.navbar-nav .active {
  color: #056cb1 !important;
  font-weight: bold !important;
  border-bottom: 1px solid #124d74 !important;
}

.nav-link {
  font-size: 1.4rem !important;
}

.nav-link:hover {
  color: #124d74 !important;
}

.image-container .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

button {
  margin-top: 20px !important;
  padding: 10px 17px;
  border-radius: 20px !important;
  background-color: transparent;
  border: 2px solid #056cb1;
  font-size: 17px !important;
}

button:hover {
  transition: all 0.5s ease;
  background-color: #056cb1;
}

button .btn-text:hover {
  color: #fff !important;
}